name: PR

on:
  pull_request:

  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Setup Node
        uses: actions/setup-node@v2.2.0
        with:
          node-version: ^15.8

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node dependencies
        run: |
          npm install --global pnpm
          pnpm install
      - name: Build
        run: |
          pnpm run --recursive build
      - name: Run linter
        run: |
          pnpm run --recursive lint
      # - name: Tests
      #   run: |
      #     pnpm run --recursive test
